{% extends getPartial('page-design') %}

{% block PageBody %}

    {{ component( "GeniessBar::ItemList.Components.ItemList" ) }}
    {{ component( "GeniessBar::ItemList.Components.CategoryItem" ) }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "Ceres::ItemList.Components.Pagination" ) }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}

<div class="page-content container {% if isSearch %} searchPage{% endif %}">
  <h1 id="searchPageTitle">{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}</h1>
  <div class="row isSortingRow">
    <div class="col-xs-12 col-sm-6">
      <item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"></item-list-sorting>
    </div>
    <div class="col-xs-12 col-sm-6">
      <items-per-page template="#vue-items-per-page" :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"></items-per-page>
      {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
      <div class="list-controls row">
          <div class="col-xs-12">
                <pagination template="#vue-pagination"></pagination>
                <noscript>
                    {% include "Ceres::Category.Item.Partials.Pagination" %}
                </noscript>
            </div>
        </div>
    {% endif %}
    </div>
  </div>
    <div class="categoriegrid itemListView">
        <div class="row">
            <div class="col-xs-12">

                <div id="vue-rendered-item-list" class="item-list-frame">
                    <item-list
                        :item-data="{{ itemList | json_encode }}"
                        :total-items-data="{{ itemCountTotal }}"
                        template="#vue-item-list">
                    </item-list>
                </div>

            </div>
        </div>
        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls row">
                <div class="col-xs-12">
                    <pagination template="#vue-pagination"></pagination>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block PartialHead %}
<script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ webstoreConfig.domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
    {% if isSearch %}
        <title>{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
    {% endif %}
{% endblock %}
