{% extends getPartial('page-design') %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}
    {{ component( "GeniessBar::ItemList.Components.CategoryItem" ) }}

    {% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}
    {% set lastCategory = categoryBreadcrumbs | first %}

<div class="container">
  <div class="catMenu">
    <div id="menuKacheln" class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% if lastCategory.details is defined %}
            <div class="kachelBig"><img src="/documents/{{ lastCategory.details[0].image2Path }}" /></div>
        {% else %}
            <div class="kachelBig" v-cloak v-if="$store.state.item.variation.documents">
                <img src="/documents/${ $store.state.item.variation.documents[0].data | image2Path }" />
            </div>
        {% endif %}
      </div>
      <div class="hidden-xs-down col-sm-6 col-md-8 col-lg-9">
        {% for category in categories %}
          {% if category.id == lastCategory.id %}
          <!-- Nothing-->
          {% else %}
            <div class="kachel">
                <a href="https://www.geniess-bar.de/{{ category.details[0].nameUrl }}">
                  {% if category.details[0].image2Path is not empty %}
                  <img src="/documents/{{ category.details[0].image2Path }}" />
                  {% else %}
                  <p>{{ category.details[0].name }}</p>
                  {% endif %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-xs-12 categoriegrid page-content categoryItem cat-id-{{ category.id}}">
      <h1 class="category-title">{{ category.details[0].name }}</h1>
      <div id="category-description-container" class="category-description more">{{ category.details[0].description | raw }}</div>
      <div id="scollToMe"></div>

      <div class="row catNav">
        <div class="col-xs-12 col-sm-3">
          <div class="sorting">
            {% include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}
            {% include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}
          </div>
          {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
            <div class="pagination">
                <div class="col-xs-12">
                      {% include "Ceres::Category.Item.Partials.Pagination" %}
                </div>
            </div>
        {% endif %}
        </div>
        {% if category.parentCategoryId %}
          <div class="col-xs-12 col-sm-3">
            <a class="btn" href="/{{lastCategory.details[0].nameUrl }}">
              zurück zu {{  lastCategory.details[0].name}}
            </a>
          </div>
          {% endif %}
        <div class="col-xs-12 col-sm-{% if category.parentCategoryId %}6{% else %}9{% endif %}  childCat">
          <div class="row">
          {% set childCat = services.category.getChildren(category.id, lang) %}
          {% set count = 0 %}
          {% for child in childCat %}
            {% set count = count + 1 %}
          {% endfor %}
          {% for child in childCat %}
            <div class="kachel {{ child.details[0].nameUrl }} col-xs-12 {% if count > 4 %} col-sm-2 five {% elseif count == 4 %}col-sm-3 four {% elseif count == 2 %} col-sm-6 {% else %}col-sm-4 {% endif %}">
              <a href="{{category.details[0].nameUrl}}/{{ child.details[0].nameUrl }}">
                <p>{{ child.details[0].name }} </p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-12">
           {% if itemList is not empty %}
             <ul class="product-list row grid">
                 {% for item in itemList %}
                     <li class="col-12 col-sm-6 col-md-4 col-lg-3">
                         <category-item
                             item-data-ref="{{ item.data | json_data }}"
                             :decimal-count="{{ ceresConfig.item.storeSpecial }}">
                             <template #before-prices>{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                             <template #after-prices>{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>

                             <a href="{{ item.data | itemURL }}" class="small">
                                 <i class="fa fa-image"></i>
                                 <span>{{ item.data | itemName }}</span>
                             </a>
                         </category-item>
                     </li>
                 {% endfor %}
             </ul>
           {% endif %}

           {% if category is not defined and itemList is empty %}
               <p class="h3 text-muted mb-5 text-center">{{ trans("Ceres::Template.itemSearchNoResults", {"searchString": searchString}) }}</p>
           {% endif %}
       </div>
     </div>
    </div>

      {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
      <div class="col-xs-12">
          <div class="list-controls m-b-3 row">
              <div class="col-xs-12">
                      {% include "Ceres::Category.Item.Partials.Pagination" %}
              </div>
          </div>
        </div>
      {% endif %}

    <div class="col-xs-12">
      <div id="category-description-container2" class="category-description">{{ category.details[0].description2 | raw }}</div>
    </div>
  </div>
</div>
{% endblock %}

{% block PartialHead %}
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>

    {% if currentPage-1 > 0 %}
        <link rel="prev" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage-1 }) | url_encode }}" />
    {% endif %}

    {% if currentPage+1 <= pageMax %}
        <link rel="next" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage+1 }) | url_encode }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} | {{ trans("Ceres::Template.headerCompanyName") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}
