<!-- Insert markup for default homepage here -->
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set overrideHomepageContainer = "" %}
{% for content in container("Ceres::Homepage") if content.plugin != "Plenty" %}
    {% set overrideHomepageContainer = overrideHomepageContainer ~ content.result %}
{% endfor %}
{% if overrideHomepageContainer | trim is empty %}

  {% set lang = services.sessionStorage.getLang() %}
  {% set category1 = services.category.get(154, lang) %}
  {% set paginatedCategoryList1 = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {
    'categoryId': category1.id,
    'page': 1,
    'items': 4,
    'sorting': itemSort
  }) %}
  {% set categoryList1 = paginatedCategoryList1.documents %}

  {{ component( "CeresGeniessbar::ItemList.Components.ItemList") }}
  {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
  {{ component( "Ceres::Basket.Components.AddToBasket" ) }}


  <div id="homeSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% if categorySlider is not defined %}
        {% set categorySlider = services.category.get(241, lang) %}
      {% endif %}
      {{ categorySlider.details.first.description | raw }}
    </div>
    <a class="carousel-control-prev" href="#homeSlider" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#homeSlider" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
    </a>
  </div>

  <div class="container-max">
    <div id="kacheln">
      {% include "CeresGeniessbar::PageDesign.Partials.Header.Navigation" %}
    </div>

    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}

    <mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" :initial-category="{{ initialCategory | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>
  </div>
    <div id="banner">
      <div class="container-max">
        {{ categorySlider.details.first.description2 | raw }}
      </div>
    </div>
    <div class="container-max">
    <div class="row">
        <div class="m-b-2 clearfix topProdukte">
            <ul class="product-list grid">
              {% for item in itemList %}
                <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  {% include "CeresGeniessbar::Category.Item.Partials.CategoryListItem" with {
                    'item' : item
                  } %}
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <p class="VAT">
      *
      {{ trans("Ceres::Template.itemInclVAT") }}
      {{ trans("Ceres::Template.itemExclusive") }}
      <a href="https://www.geniess-bar.de/bestellvorgang/versand-und-kosten/" title="{{ trans(" ceres::template.itemshippingcosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
    </p>
  </div>
{% else %}
  {{ overrideHomepageContainer }}
{% endif %}
