{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}
{% import "GeniessBar::Category.Macros.CategoryTree" as Tree %}

{% set overrideHomepageContainer = "" %}
{% for content in container("Ceres::Homepage") if content.plugin != "Plenty" %}
    {% set overrideHomepageContainer = overrideHomepageContainer ~ content.result %}
{% endfor %}

{# if HomeContent is not defined #}
  {# set HomeContent = services.category.get(1422, lang) #}
{# endif #}

{% if overrideHomepageContainer | trim is empty %}

    {% set lang = services.sessionStorage.getLang() %}
    {% set category1 = services.category.get(config("Ceres.homepage.homepageCategory1"), lang) %}
    {% set category2 = services.category.get(config("Ceres.homepage.homepageCategory2"), lang) %}
    {% set category3 = services.category.get(config("Ceres.homepage.homepageCategory3"), lang) %}
    {% set category4 = services.category.get(config("Ceres.homepage.homepageCategory4"), lang) %}
    {% set category5 = services.category.get(config("Ceres.homepage.homepageCategory5"), lang) %}
    {% set category6 = services.category.get(config("Ceres.homepage.homepageCategory6"), lang) %}

    {% set paginatedCategoryList1 =
    services.itemLoader.loadForTemplate(
    'Ceres::ItemList.ItemListView',
    itemLoaderPresets.categoryList,
    {'categoryId': category3.id, 'page':1, 'items':4, 'sorting': itemSort}) %}

    {% set paginatedCategoryList2 =
    services.itemLoader.loadForTemplate(
    'Ceres::ItemList.ItemListView',
    itemLoaderPresets.categoryList,
    {'categoryId': category6.id, 'page':1, 'items':4, 'sorting': itemSort}) %}

    {% set categoryList1 = paginatedCategoryList1.documents %}
    {% set categoryList2 = paginatedCategoryList2.documents %}

    {{ component( "Ceres::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "GeniessBar::Basket.Components.AddToBasket" ) }}


    <div class="home container-max">
      <div id="angebote">

        {% set angebote = services.category.get(246, lang) %}
        {{ angebote.details.first.description2 | raw }}

      </div>


      <div id="kacheln">
        <div class="row">
          {% for category in categories %}
            <div class="col-xs-4 col-sm-3 col-md-2">
                  {% if category.details[0].image2Path is not empty %}
                  <a href="{{ category.details[0].nameUrl }}">
                      <span class="rabatt">{{ category.details[0].shortDescription | raw }}</span>
                  <img src="/documents/{{category.details[0].image2Path}}" alt="{{ category.details[0].name }}">
                </a>
                  {% else %}
                  <a href="{{ category.details[0].nameUrl }}">{{ category.details[0].name }}</a>
                {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.geniess-bar.de/content/coupon/" title="zum Gutschein"><img src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/5-Euro.jpg" alt="Nekunden Rabatt"></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.geniess-bar.de/flaschen-im-retro-look/" title="zu den handbeschrifteten Flaschen"><img src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/Handschrift.jpg" alt="Flaschen im Rero Look"></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.geniess-bar.de/flaschen-mit-etiketten/" title="zu den etikettierten Flaschen"><img src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/Label.jpg" alt="Flaschen mit Etiketten"></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.geniess-bar.de/content/ceres/newsletter-anmeldung/" title="Jetzt zum Newsletter anmelden" ><img src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/20-prozent.jpg" alt="Newsletter anmelden"></a>
          </div>
        </div>
      </div>

      <div id="banner">
        <img class="hidden-sm-down" src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/100-prozent-service.jpg" alt="100% Service" />
        <img class="hidden-md-up" src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/100-prozent-service-sm.jpg" alt="100% Service" />
      </div>

      <div class="topProdukte">
        <h2>Unsere beliebtesten Produkte</h2>
        {% set list = services.itemList.getItemList( 'tag_list',6, "texts.name1_asc", 8).documents %}
        {% if list is not empty %}
            <div class="m-b-2 clearfix">
              <carousel :items-per-page="4">
                  {% for item in list %}
                      <template slot="items">
                          <category-item
                              :item-data="{{ item.data | json_encode }}"
                              :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                              :disable-carousel-on-mobile="true"
                              :items-per-page="3">
                              <template #before-prices>{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                              <template #after-prices>{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                          </category-item>
                      </template>
                  {% endfor %}
              </carousel>
            </div>
        {% endif %}

      </div>
  </div>
{% else %}
    {{ overrideHomepageContainer | raw }}
{% endif %}
