{% macro get_sidemenu(breadcrumbs, categories, currentScopeUrl, count) %}

    {% import _self as sidemenu %}
    {% set urlNow = currentScopeUrl %}

    {% for category in categories %}

        {% set urlNow =  currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        {% if category.details[0] %}
            <ul class="level{{count}}{% if category.children is not empty %} parent{% endif %}">
                <li class="nav-item{% for breadcrumb in breadcrumbs %}{% if category.id == breadcrumb.id %} active{% endif %}{% endfor %}">
                    <a href="/{{ urlNow }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ category.details[0].name }}</a>
                    {% if category.children is not empty %}
                        {{ sidemenu.get_sidemenu(breadcrumbs, category.children, urlNow, count + 1) }}
                    {% endif %}
                </li>
            </ul>
        {% endif %}

    {% endfor %}

{% endmacro %}

{% macro get_menu(breadcrumbs, categories, currentScopeUrl, counter) %}
    {% import _self as sidemenu %}
    {% set urlNow = currentScopeUrl %}
    {% set maxLink = 0 %}
      {% for category in categories %}
        {% set maxLink = maxLink + 1 %}
          {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}
          {% if category.details[0] %}
          {% if maxLink == 15 %}
        </ul>
        <ul class="dropdown level{{counter}} secondList">
          {% endif %}
              <li id="plentycat_{{ category.id }}" class="{% if category.children is not empty %}ddown parent{% endif %}{% for breadcrumb in breadcrumbs %}{% if category.id == breadcrumb.id %} active{% endif %}{% endfor %}">
                  <a href="{{ urlNow }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ category.details[0].name }}</a>
                  {% if category.children is not empty  %}
                      <ul class="dropdown level{{counter}}">
                          {{ sidemenu.get_menu(breadcrumbs, category.children, urlNow, counter + 1) }}
                      </ul>
                  {% endif %}
              </li>
          {% endif %}
      {% endfor %}
{% endmacro %}
