{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set displayedCategories = [] %}
<a href="#" class="scrollTop"><span class="fa fa-angle-up"></span>zum Seitenanfang</a>
<footer>
  <div class="container-max footer-content">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3 contact">
          <h4>Kontakt</h4>
          <p><span class="tabStop fa fa-envelope"></span><a href="mailto:info@geniess-bar.de" title="Schreiben Sie uns">info@geniess-bar.de</a></p>
          <p><span class="tabStop fa fa-map-marker"></span>Johann-Dahlem-Str. 64<br>63814 Mainaschaff</p>
          <p><span class="tabStop fa fa-phone"></span>Tel. <a href="tel:0602176355" title="Rufen Sie uns an">+49 (0)6021 76355</a><br>Fax +49 (0)6021 8669753</p>
          <p><span class="tabStop fa fa-clock-o"></span>Öffnungszeiten:<br>Mo.-Fr. 8.00 - 16.00 Uhr</p>
          </div>
      <div class="col-xs-12 col-sm-4 col-lg-3 info">
          <h4>Informationen</h4>
          <ul class="list-unstyled">
            <li><a href="{{ trans("GeniessBar::Template.LinkAboutUs") }}">{{ trans('GeniessBar::Template.FooterAboutUs') }}</a></li>
            <li><a href="{{ urls.legalDisclosure }}">{{ trans('GeniessBar::Template.FooterLegalDisclosure') }}</a></li>
            <li><a href="{{ urls.gtc }}">{{ trans('GeniessBar::Template.checkoutGtc') }}</a></li>
            <li><a href="{{ urls.privacyPolicy }}">{{ trans('GeniessBar::Template.footerPrivacy') }}</a></li>
            <li><a href="{{ urls.cancellationRights }}">{{ trans('GeniessBar::Template.footerCancellation') }}</a></li>
            <li><a href="{{ trans("GeniessBar::Template.LinkFooterPaymentAndShipping") }}">{{ trans('GeniessBar::Template.FooterPaymentAndShipping') }}</a></li>
            <li><a href="{{ trans("GeniessBar::Template.LinkFooterNewsletter") }}">{{ trans('GeniessBar::Template.FooterNewsletter') }}</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3 payment">
          <h4>Zahlungsarten</h4>
          <img src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/Zahlungsarten_1.jpg" alt="Zahlungsarten">
          <p><a href="https://www.facebook.com/Geniess-Bar-364105660370505/" target="_blank" title="zu unserer Facebook-Seite"><span class="fa fa-facebook-square"></span> Folgen Sie uns</a></p>
          <p class="small">Design by <a href="https://www.werk38.de/" title="Manufaktur für Print & Web" target="_blank"><img alt="WERK38" src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/images/werk38.png" /></a><br>&copy 2018 Geniess-Bar!</p>
      </div>
      <div class="hidden-md-down col-lg-3 siegel">
        <div id="kaeufersiegel_widget">
          <a id="ks_rating_link" href="https://www.kaeufersiegel.de/bewertung/shop/geniess-bar-de" title="Kundenbewertung einsehen" target="_blank">
              <img src="https://www.kaeufersiegel.de/bewertung/widgets/e48e13207341b6bffb7fb1622282247b/2.png?1539942149233" alt="Käufersiegel Kundenbewertung">
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>
