{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}
{% set homepageURL = services.url.getHomepageURL() %}

{% if categoryBreadcrumbs is not empty %}
    <nav data-component="breadcrumbs" data-renderer="twig" class="container-max">
        <div id="menuKacheln" class="row">
          <div class="col-xs-12 col-sm-3 col-md-5">
            {% set lastCategory = categoryBreadcrumbs | last %}
            {% if lastCategory.details is defined %}
                <div class="kachelBig"><img src="/documents/{{ lastCategory.details[0].image2Path }}" /></div>
            {% else %}
                <div class="kachelBig" v-cloak v-if="$store.state.item.variation.documents">
                    <img src="/documents/${ $store.state.item.variation.documents[0].data | image2Path }" />
                </div>
            {% endif %}
          </div>
          <div class="col-xs-12 col-sm-9 col-md-7">

            {% for category in categories %}
              <div class="kachel">
                  <a href="{{ category.details[0].nameUrl }}">
                    {% if category.details[0].image2Path is not empty %}
                      <img src="/documents/{{ category.details[0].image2Path }}" />
                      {% else %}
                      <p>{{ category.details[0].name }}</p>
                      {% endif %}
                </a>
              </div>
            {% endfor %}
        </div>
      </div>
    </nav>

    <category-breadcrumbs template="#vue-category-breadcrumbs"></category-breadcrumbs>
{% endif %}
