{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "GeniessBar::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}

<header id="page-header" class="top-bar">
      <div class="container-max">
        <div id="logo">
            <a href="{{ homepageURL }}">
                {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                    <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid"/>
                {% else %}
                    <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid"/>
                {% endif %}
            </a>
        </div>
          <ul id="controlsList" class="controls-list list-inline">
              <li class="list-inline-item control-user">
                  <user-login-handler>
                      <a data-toggle="modal">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
                      </a>
                      <span class="pipe"></span>
                      <a data-toggle="modal">
                          <i class="fa fa-user-plus" aria-hidden="true"></i>
                          <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
                      </a>
                  </user-login-handler>
              </li>
              <li class="list-inline-item control-basket">
                  <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                      {% if config("Ceres.header.basket_values") != "sum" %}
                          <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                      {% endif %}

                      <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span class="hidden-md-down">Warenkorb |</span>
                      {% if config("Ceres.header.basket_values") != "quantity" %}
                          <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                          <span class="badge" v-else v-cloak v-basket-item-sum="this.$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                      {% endif %}
                  </a>

                  {% if config("Ceres.basket.preview_type") != "right" %}
                      <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                  {% endif %}
              </li>
              <li id="searchBox">
                  <item-search template="#vue-item-search"></item-search>
              </li>
          </ul>
        </div>
        {% if  services.template.isHome() %}
          {% if categorySlider is not defined %}
            {% set categorySlider = services.category.get(246, lang) %}
          {% endif %}
          <div id="slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {{ categorySlider.details.first.description | raw }}
            </div>
            <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Zurück</span>
            </a>
            <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Weiter</span>
            </a>
          </div>
        {% endif %}
      <div id="bottomBar">
        <div class="container-max">
        <ul>
          <li><a href="{{ trans("GeniessBar::Template.LinkNavBarStartseite") }}" title="{{ trans("GeniessBar::Template.NavBarStartseite") }}">{{ trans("GeniessBar::Template.NavBarStartseite") }}</a></li>
          <li><a href="{{ trans("GeniessBar::Template.LinkNavBarGutschein") }}" title="{{ trans("GeniessBar::Template.NavBarGutschein") }}">{{ trans("GeniessBar::Template.NavBarGutschein") }}</a></li>
          <li><a href="{{ trans("GeniessBar::Template.LinkNavBarFirmenkunde") }}" title="{{ trans("GeniessBar::Template.NavBarFirmenkunde") }}">{{ trans("GeniessBar::Template.NavBarFirmenkunde") }}</a></li>
          <li><a href="{{ trans("GeniessBar::Template.LinkNavBarLogo") }}" title="{{ trans("GeniessBar::Template.NavBarLogo") }}">{{ trans("GeniessBar::Template.NavBarLogo") }}</a></li>
        </ul>
      </div>
  </div>
  <div class="hidden-sm-up">{% include "Ceres::PageDesign.Partials.Header.Navigation" %}</div>
</header>

{% if category.linklist == "Y" %}
    {% set initialCategory = { id: category.id } %}
{% else %}
    {% set initialCategory = category %}
{% endif %}

<mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" :initial-category="{{ initialCategory | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>
